{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %} 
<div class="container mt-5">
  <h1 class="text-center mb-4">Events</h1>
  
  {% for event in events %}
  <div class="card mb-4">
    <div class="card-header">
      <h3>{{ event }}</h3>
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
        <li><strong>Date:</strong> {{ event.event_date }}</li>
        <li><strong>Manager Name:</strong> {{ event.manager }}</li>
        <li><strong>About:</strong> {{ event.description }}</li>
        
        <li>
          <h5>Attenders:</h5>
          <ul class="list-group list-group-flush">
            {% for attend in event.attendees.all %}
            <li class="list-group-item">{{ attend }}</li>
            {% endfor %}
          </ul>
        </li>

        <li class="mt-3"><strong>Venue:</strong> {{ event.venue.name }}, {{ event.venue.address }}, {{ event.venue.zip_code }}, {{ event.venue.web }}</li>
        {% if user.is_authenticated and user ==  event.manager%} 
        <li class="mt-3">
          <a href="{% url 'updateevent' event.id %}" class="btn btn-secondary">Update</a>
          <a href="{% url 'deleteevent' event.id %}" class="btn btn-danger">Delete</a>
        </li>
        {% endif %}
       
      </ul>
    </div>
  </div>
  {% endfor %}
  
</div>
{%else%}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Login to access this page!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{%endif%}

{% endblock %}
