{% extends 'events/base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Events</h1>
  <form class="d-flex" role="search" method="POST" action="{% url 'searchEvent' %}">
    {%csrf_token%}
    <input class="form-control me-2" type="search" placeholder="Search-Event" aria-label="Search" name="search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <br>
  {% for event in event_list %}
  {% if event.approval == True %}
  <div class="card mb-4">
    <div class="card-header">
      <h3>{{ event }}</h3>
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
        <li><strong>Date:</strong> {{ event.event_date }}</li>
        {% if event.Check == "Future" or  event.Check == "Present" %}
        <li><strong>Days remaining:</strong> {{ event.Day_till }}</li>
       {% endif %}
        <li><strong>Info:</strong> {{ event.Check }}</li>
        <li><strong>Manager Name:</strong> {{ event.manager }}</li>
        <li><strong>About:</strong> {{ event.description }}</li>
        
        <li>
          <h5>Attenders:</h5>
          <ul class="list-group list-group-flush">
            {% for attend in event.attendees.all %}
            <li class="list-group-item">{{ attend }}</li>
            {% endfor %}
          </ul>
        </li>

        <li class="mt-3"><strong>Venue:</strong> {{ event.venue.name }}, {{ event.venue.address }}, {{ event.venue.zip_code }}, {{ event.venue.web }}</li>
        {% if user.is_authenticated and user ==  event.manager%} 
        <li class="mt-3">
          <a href="{% url 'updateevent' event.id %}" class="btn btn-secondary">Update</a>
          <a href="{% url 'deleteevent' event.id %}" class="btn btn-danger">Delete</a>
        </li>
        {% endif %}
       
      </ul>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  
</div>
{% endblock %}
