{% extends 'events/base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">User-Login</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
    

  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="username" class="form-control" id="floatingInput" placeholder="Username" name = "username">
      <label for="floatingInput">username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name = "password">
      <label for="floatingPassword">Password</label>
    </div>
    <input type="submit" value="Submit" class="btn btn-secondary btn-block mt-3">
   
  
   
  </form>
 

 
    

     
    </div>
  </div>
</div>
{% endblock %}
